node_modules
npm-debug.log
.tern-project
data-*.json
logs.txt
env.sh
dump.sh
*.dump
src/model/gen-rds-fake-data

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
